.site-layout .ant-layout-footer {
  padding: 0;
}

.landing-sider {
  /* overflow: auto; */
  height: 100vh;
  position: sticky;
  /* Modal in 20*/
  /* z-index: 19; */
  top: 0;
  right: 0;
}

.services-offer {
  background-color: #242527;
  display: flex;
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
}

.services-container {
  background-color: #242527;
  padding: 40px;
  background-image: url('/src/assets/img/zig-zag.svg');
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: left bottom;
}

.services-container h3 {
  color: #fff;
  margin-left: 0;
}
.service {
  background-color: #fff;
  color: #000;
  padding: 20px;
  border-radius: 10px;
  width: 550px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.service1 {
  background-color: #cbe4f9;
  margin-top: 0;
}

.service2 {
  background-color: #ffe3b3;
  margin-top: -20px;
}

.service3 {
  background-color: #ff8a7a;
  margin-top: -25px;
}

.service p:first-child {
  font-size: 24px;
  font-weight: bold;
}

.service p:last-child {
  margin-top: 10px;
}

.faq-card {
  background-color: #242527;
}

.faq-title h2 {
  color: #fff;
}

.faq-title h4 {
  color: #ffd15c;
}

.faq-panel {
  background-color: #171717;
}

.faq-panel span {
  color: #fff;
}

.card-nobody .ant-card-body {
  display: none;
}

.services-offer .anticon {
  color: #ffd15c;
  font-size: 25px;
  margin-right: 10px;
}

.services-offer h4,
.services-offer span {
  color: #fff;
}

.same-height-card,
.same-height-col {
  display: flex;
}
